<div class="active-shader"></div>
<div class="sidedrawer-inner-wrapper">
  <div id="sidedrawer-brand">Heritago with ♥</div>
  <div class="mui-divider"></div>
  <ul class="side-nav" id="mobile-demo">
    <li><a href="#explore"><i class="material-icons inline-with-text">map</i><text>Explore</text></a></li>
    <li><a href="#collection"><i class="material-icons inline-with-text">view_comfy</i><text>Collection</text></a></li>
    <li><a href="#setting"><i class="material-icons inline-with-text">settings</i><text>Setting</text></a></li>
    <li><a href="#exit"><i class="material-icons inline-with-text">exit_to_app</i><text>Exit</text></a></li>
  </ul>
</div>
