@import "izzel";

heritago-button {
    position: absolute;
    right: 10px;
    bottom: 5px;

    button i {
        /* Button size is 55x55 */
        width: 40px;
        height: 40px;
        margin: 15px 15px;
    }
}
