<nav class="mui-appbar mui-row">
  <div class="mui-col-xs-12 mui-row--no-gutter mui--appbar-height">
    <a href="#" class="sidedrawer-toggle mui--appbar-height mui-col-xs-1"><i class="material-icons">menu</i></a>
    <div class="mui-textfield mui-textfield--no-border mui--appbar-height mui-col-xs-11">
      <input id="search" type="search" placeholder="Discover Heritage" required>
    </div>
  </div>
</nav>
