<ul class="nearby-list">
   <li data-id="1464085117196" class="">
      <div class="view"><input class="toggle" type="checkbox"><label>uhun</label><button class="destroy"></button></div>
   </li>
   <li data-id="1464085119126" class="">
      <div class="view"><input class="toggle" type="checkbox"><label>jknkjnmk</label><button class="destroy"></button></div>
   </li>
</ul>