@import "mui";
@import "mui-colors";

/* # Global style */
body,
html {
    width: 100%;
    height: 100%;
}

/* # MUI Addon
 * ## Grids          */
.mui-row--no-gutter {
    margin-left: 0;
    margin-right: 0;

    & > [class*="mui-col-"] {
        padding-left: 0;
        padding-right: 0;
    }
}

/* ## Forms */
.mui-textfield--no-border [type="search"],
.mui-textfield--no-border [type="text"]
{
    border: 0;
}

